POLYMARKET_PRIVATE_KEY=0x...
POLYMARKET_CHAIN_ID=137
POLYMARKET_RPC_URL=https://polygon.drpc.org
POLYMARKET_CLOB_URL=https://proxy.polytown.app # work abroud the geo block
POLYMARKET_GAMMA_URL=https://gamma-api.polymarket.com
POLYMARKET_DATA_URL=https://data-api.polymarket.com
POLYMARKET_BRIDGE_URL=https://bridge-api.polymarket.com
POLYMARKET_RELAYER_URL=https://proxy.polytown.app/relayer
# Optional: only needed if using official endpoints directly instead of proxy
#POLYMARKET_BUILDER_API_KEY=
#POLYMARKET_BUILDER_SECRET=
#POLYMARKET_BUILDER_PASSPHRASE=
